.site-title {
	line-height: 100%;
  margin: 0;
}

.row .nested {
	margin: {
		right: -.75rem;
		left: -.75rem;
	}
}

.main {
  padding: {
  	// top: 1em;
  	bottom: 3em;
  }
  max-width: 1152px;
  margin-right: auto;
  margin-left: auto;

  background: #fff;

  h3 {
		margin-top: 0;
  	margin-left: 8px;
  	font-weight: 300;
  	color: #000033;
  }

	section {
		overflow: hidden;
		padding: {
			top: 1.5em;
			right: 30px;
			left: 30px;
		}

		> div {
			display: inline-block;
	    float: left;
	    width: 140px;
	    min-height: 246px;

		  > img,
		  > p {
		  	margin: {
		  		right: auto;
		    	left: auto;
		    }
		  }

		  > p {
		  	padding-bottom: 8px;
		  }
		}
	}

	.card-panel {
    transition: box-shadow .25s;
    padding: 8px 8px 0;
    margin: 0 8px 26px;
    border-radius: 2px;
    background-color: #fff;
	}

	.divider {
		float: none;
    clear: both;
    display: block;
    width: auto;
    min-height: 0;
    margin-left: 1rem;
	}

	.jump-to-cta {
		margin-top: 26px;
	}
}

.btn,
.btn-large {
  background-color: #0066cc;

	&:hover,
	&:hover {
	  background-color: #005cb8;
	}
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0066cc;
  box-shadow: 0 1px 0 0 #0066cc;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #0066cc;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #0066cc;
  border-bottom: 2px solid #0066cc;
}

button:focus {
  background-color: #0052a5;
}

// .main,
// .page-footer {
//   position: relative;

//   top: 506px;
// }

nav .brand-logo {
	top: 12.5px;
  height: 39px;
  width: 189px;
  text-indent: 100%;
  overflow: hidden;
  background-image: url(../imgs/logo.png);
  background-size: 189px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-wrapper,
.page-footer .row,
.footer-copyright {
	padding: {
		right: 2em;
		left: 2em;
	}
}

.page-footer .col {
	padding: {
		right: 0;
		left: 0;
	}
}

@media only screen and (min-width: 993px) {
	.page-footer .offset-l4 {
		text-align: right;

		.social .grey-text {
			margin-right: 0;
			margin-left: 1em;
		}
	}
}

footer.page-footer {
  background: #f2f2f2;
  /* border-top: 1px solid #eee; */
  margin-top: 0;

	.footer-copyright {
		background-color: transparent;
	}

	.grey-text {
	  font-weight: 300;
	}
}

.social {
	li {
		display: inline;
	}

	.grey-text {
		height: 39px;
	  width: 39px;
	  text-indent: 100%;
	  overflow: hidden;
	  background-image: url(../imgs/sm-twitter.png);
	  background-size: 39px;
	  background-position: center;
	  background-repeat: no-repeat;
	  display: inline-block;
	  margin-right: 1em;
	}

	li:nth-of-type(2) .grey-text {
		background-image: url(../imgs/sm-facebook.png);
	}

	li:nth-of-type(3) .grey-text {
		background-image: url(../imgs/sm-instagram.png);
	}
}

.footer-copyright > .grey-text {
	border-top: 1px solid #E3E3E2;
}

.share {
	margin-top: 78px;

	&-icon {
		height: 26px;
	  width: 26px;
	  text-indent: 100%;
	  overflow: hidden;
	  background-image: url(../imgs/sm-twitter.png);
	  background-size: 26px;
	  background-position: center;
	  background-repeat: no-repeat;
	  display: inline-block;
	  margin: .5em .5em 0;

		&:nth-of-type(2) {
			background-image: url(../imgs/sm-facebook.png);
		}

		&:nth-of-type(3) {
			background-image: url(../imgs/sm-instagram.png);
		}
	}
}


.jump-to-cta {
	float: none;
	clear: both;
	display: none;
}

.cta .btn-flat {
	margin-top: 26px;
}

.jump-to-cta,
.cta {
	text-align: center;
}

.parallax-container {
  // position: fixed;
  // z-index: -1;
  // top: 0;
  // margin-right: 390px;
  text-align: center;
  padding-top: 90px;
  // left: 0;

  height: 590px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
  	font-size: 52px;
    max-width: 825px;
    margin: {
    	right: auto;
    	left: auto;
    }
    color: #fff;

    b {
    	font-weight: 400;
    }
  }

  .subtitle {
  	max-width: 610px;
    margin: 48.5px auto 80px;
    color: #fff;
    padding: 15px;
    font-weight: lighter;
    line-height: 26px;
  }

  .btn-large {
    font-weight: bold;
  }

	.btn-flat {
  	margin-left: 20px;
  	color: #fff;
    background-color: rgba(255,255,255,0);
    border: 2px solid rgba(255,255,255,.43);
  }
}


// nav,
// .main,
// .page-footer {
//   padding-right: 390px;
// }

@media only screen and (max-width : 992px) {
 //  nav,
 //  .main,
	// .page-footer {
 //    padding-right: 0;
 //  }

 //  .parallax-container {
 //  	margin-right: 0;
 //  }

	.nav-wrapper {
		padding-right: 0.533rem;
		padding-left: 0.533rem;
	}

	nav .brand-logo {
		height: 29px;
    width: auto;
    background-size: auto 26px;
	}

	.parallax-container {
    padding-top: 52px;
    height: auto;

    .subtitle {
	    margin-bottom: 39px;
	  }

	  .btn-flat {
	    margin-left: 0;
	  }
	}

	.main {
		section {
	    padding-right: 0.25em;
	    padding-left: 0.25em;
		}

		h3 {
			margin-left: 0.533rem;
		}
	}

  .jump-to-cta {
		display: block;
	}
}

nav {
	background: rgba(255, 255, 255, 0.98);
	border-bottom: 1px solid rgba(214,214,214,.4);

	ul a {
    transition: color .3s;
    color: #0066cc;
    font-weight: 300;
    text-transform: uppercase;

    &:hover {
  		background-color: transparent;
  		color: #000033;
  	}
  }

  ul li.active {
    background-color: transparent;
  }

  li.active a,
  a.active {
  	color: #000033;
	}
}

nav a {
  color: #0066cc;
}

a {
  color: #0066cc;
}

input[type=text].validate+label,
input[type=email].validate+label {
	width: auto;
}

img {
	display: block;
}

.thanks,
.thanks body,
.thanks .valign-wrapper {
	height: 100%;
	min-height: 100%;
}

.about {
	max-width: 800px;
	padding: 32px 32px 85px;

	.cta {
		position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 16px;
    background: rgba(255, 255, 255, 0.98);
    border-top: 1px solid #eee;
	}
}

.sidebar {
	max-width: 390px;
}

.store {
	header.valign-wrapper {
		min-height: 210px;
    background-image: url(../imgs/store-header.jpg);
    position: relative;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (max-width : 768px) {
	    padding-top: 78px;
	    padding-bottom: 13px;
    }

    .valign.light {
    	color: #fff;
    	text-align: center;
			padding-right: 32px;
			padding-left: 32px;
    }
	}

	.topbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 26px;
		padding-right: 32px;
		padding-bottom: 13px;
		padding-left: 32px;

		.btn-flat {
	    color: #fff;
		  background-color: rgba(255,255,255,0);
		  border: 2px solid rgba(255,255,255,0.43);
		  line-height: 32px;
      padding: 0 1rem;
		}
	}

	.brand-logo.icon {
	  height: 39px;
	  width: 39px;
	  text-indent: 100%;
	  overflow: hidden;
	  background-image: url(../imgs/logo-icon.png);
	  background-size: 39px;
	  background-position: center;
    background-repeat: no-repeat;
    display: block;
    white-space: nowrap;
    float: left;
	}
}

.tabs-wrap {
	overflow-x: scroll;
}

.tabs {
  height: 65px;
  min-width: 613px;

	.tab {
		line-height: 65px;
    height: 65px;

		a {
		  color: #0066cc;
		  padding: 0 24px;

		  &:hover {
		    color: #000033;
			}
		}

		&.disabled a {
	    color: rgba(0,102,204,0.4);
	  }
	}

  .indicator {
    height: 4px;
    background-color: #0066cc;
	}
}

.tab-panel {
	max-width: 1152px;
  margin: 52px auto;
  padding-right: 30px;
  padding-left: 30px;

  .img-wrap img {
  	vertical-align: top;
    max-width: 100%;
  }
}

.price-block {
  font-size: 13px;
}

.price {
	font-size: 20px!important;
  color: #b12704!important;
}

.collection .collection-item.avatar {
  min-height: 220px; // 280px;
  padding-left: 280px;
  position: relative;
  padding-right: 260px;

  p {
	  margin-top: 13px;
	  margin-bottom: 0;
	}

	.secondary-content {
		text-align: center;
		top: 63px;

		.btn,
		.btn-large {
			width: 100%;
		}

		.spacing-base {
			color: #555;
	    font-size: 12px;
	    margin-top: 13px;
	    line-height: 1.5!important;
		}
	}
}

.a-divider.a-divider-break {
	text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-top: 13px;
  margin-bottom: 13px;
  line-height: 0;

  &:after {
	  content: "";
	  width: 100%;
	  background-color: transparent;
	  display: block;
	  height: 1px;
	  border-top: 1px solid #e7e7e7;
	  position: absolute;
	  top: 50%;
	  margin-top: -1px;
	  z-index: 1;
	}

	span {
		line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
	}
}

.product-image {
	position: absolute;
  width: 240px;
  height: 200px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.nav-wrapper,
.parallax-container,
.main {
	min-width: 320px;
}


// @media only screen and (min-width: 768px) {
// 	.tab-panel {
// 		display: flex;
// 		justify-content: space-between;
// 	}

// 	.item {
// 		display: inline-block;
// 		width: 50%;
// 		max-width: 520px;
// 	}
// }

